    .counts {
        background: #2e557c;
        color: #fff;
        border-radius: 5px;
        width: 225px;
    }

    .counts div {
        padding: 10px;
    }

    .counts span {
        float: right;
    }